@{
    ViewBag.Title = "About Page";
}
<div class="col-md-6 col-md-offset-3">
    <h2 id="aboutHeader">About The World</h2>
    <div>
        <p>
            "The World" is the result of completing and then building upon the coursework for the course:
        </p>
        <p>
            <a href="https://app.pluralsight.com/library/courses/aspdotnet-5-ef7-bootstrap-angular-web-app/table-of-contents" id="courseLink">Building a Web App with ASP.NET Core RC1, MVC 6, EF7 & AngularJS</a>
        </p>
        <p>
            It is intended as evidence of understanding regarding the concepts that are required for full stack web development.
        </p>
    </div>
</div>