@{
    ViewBag.Title = "New User Registration";
}
@section Scripts {
    <script src="~/lib/underscore/underscore-min.js"></script>
    <script src="~/lib/angular/angular.min.js"></script>
    <script src="~/lib/angular-route/angular-route.min.js"></script>
    <script src="~/js/simpleControls.js"></script>
    <script src="~/js/app-registration.js"></script>
    <script src="~/js/registerController.js"></script>
}
<div class="row" ng-app="app-registration">

    <div ng-view></div>
</div>